<h1>MidLib Story</h1>
 <h1>One day</h1>
    <p> @Model.Person1 and @Model.Person2 were walking through the woods, when suddenly a giant  @Model.animal appeared.  </p>
    <p>@Model.exclamation, @Model.Person1 cried !! The two of them  @Model.verb as quickly possible. When they were safe, @Model.Person2  and @Model.Person1 gave each other a giant @Model.noun. </p>