<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>One day</h1>
    <p> @Model.Person1 and @Model.Person2 were walking through the woods, when suddenly a giant  @Model.animal appeared.  </p>
    <p> @Model.Person1 cried @Model.exclamation !! The two of them  @Model.verb as quickly possible. When they were safe, </p>
    <p>@Model.Person2  and @Model.Person1 gave each other a giant @Model.noun. </p>
    
  </body>
</html>